.signInSignUp {
	display: flex;
	width: 850px;
	justify-content: space-between;
	margin: 30px auto;
}

@media screen and (max-width: 800px) {
	.signInSignUp {
		margin: 0;
		flex-wrap: wrap;
		width: 100%;
		padding: 0 10px 10px 10px;
	}
}
