.header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;

	.logoContainer {
		height: 100%;
		width: 70px;
		padding: 25px;
	}

	.options {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.option {
			padding: 10px 15px;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 800px) {
	.header {
		margin-bottom: 10px;
		height: 50px;
		padding-top: 10px;
		.logoContainer {
			padding: 0;
			svg {
				height: 100%;
				display: block;
				margin: 0 auto;
			}
		}
		.options {
			width: calc(100% - 70px);
		}
	}
}
